/* <____________ PRINCIPAL ______________> */
body{
    background:black;
}
#menu{
    width:250px;
    height:100%;
    margin:auto;
    position: absolute;
}
#menu ul{
    list-style:none;
	font-size:1.125em;
	font-family:"Hobo Std";
	margin:0px;
	padding:0px;
	overflow:hidden;
}
#menu ul li a, #menu ul li span{
	padding:10px 20px;
	color:#FFFFFF;
	/*background:url("images/Degrade_img.jpg") repeat-x; */
    background:red;
	text-decoration:none;
	overflow:hidden;
	text-align:center;
}
#menu ul li span{
	display:block;
	cursor:pointer;
}
#menu ul li a{
	display:none;
	background:url("images/Degrade_img.jpg") repeat-x left bottom;
	color:#000000;
}
/* <_________ MEDIA SCREEN __________> */
@MEDIA SCREEN AND (MAX-WIDTH:1200PX){
    
}
@MEDIA SCREEN AND (MAX-WIDTH:960PX){
    
}
@MEDIA SCREEN AND (MAX-WIDTH:768PX){
    
}
@MEDIA SCREEN AND (MAX-WIDTH:480PX){
    
}
@MEDIA SCREEN AND (MAX-WIDTH:320PX){
    
}