body{
    background:black;
}
#menu{
    width:700px;
    margin:auto;
}
#menu ul{
    list-style:none;
	font-size:18px;
	font-family:"Hobo Std";
	margin:0px;
	padding:0px;
	height:40px;
	overflow:hidden;
}
#menu ul li{
    float:left;
}
#menu ul li a, #menu ul li span{
    width:100px;
	padding:10px 20px;
	height:18px;
	color:#FFFFFF;
	/*background:url("images/Degrade_img.jpg") repeat-x; */
    background:red;
	text-decoration:none;
	overflow:hidden;
	text-align:center;
}
#menu ul li span{
	display:block;
	cursor:pointer;
}
#menu ul li a{
    float:left;
	background:url("images/Degrade_img.jpg") repeat-x left bottom;
	color:#000000;
    height:10px;
}